**/target/
**/node_modules/
**/dist/
**/dist-electron/
**/.turbo/
**/.tsbuildinfo*
**/*.tsbuildinfo
/apps/desktop/release/
**/.next/
**/.source/
**/.vercel/
**/out/
**/.spirit-agent/
**/.env
!**/.env.example
