node-linker=hoisted
public-hoist-pattern[]=*electron*
public-hoist-pattern[]=*node-pty*
public-hoist-pattern[]=*@vscode*
registry=https://registry.npmjs.org/
electron_mirror=https://github.com/electron/electron/releases/download/
electron_builder_binaries_mirror=https://github.com/electron-userland/electron-builder-binaries/releases/download/
